<h1>Burger Time!</h1>

<h2>Burgers - get 'em while they're hot!</h2>
<h5>(click to eat)</h5>

<ul>
  {{#each this}}
  {{#if this.eaten}}
  {{else}}
  {{#if this.name}}
   {{> burger/burger-block}}
   {{/if}}
  {{/if}}
  {{/each}}
</ul>

<h2>Yum! These burgers were delicious!</h2>
<h5>(click to throw away)</h5>

<ul>
  {{#each this}}
  {{#if this.eaten}}
  {{#if this.name}}
   {{> burger/burger-block2}}
   {{/if}}
  {{/if}}
  {{/each}}
</ul>


<h2>Serve up a new burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eat">Eaten?</label><br>
    <input type="radio" name="eat" value="1" checked> Served!<br>
    <input type="radio" name="eat" value="0"> Eaten!
  </div>

  <button type="submit">Add Burger</button>
</form>