<form action="./api/destroyBurger/{{this.id}}">
	<button type="submit" value="destroydaburger" class="destroy-burger" data-id="{{this.id}}" data-eaten="{{this.eaten}}">
		<span>{{this.name}}</span>
	</button>
</form>