<form action="./api/eatBurger/{{this.id}}">
	<button type="submit" value="eatdaburger" class="eat-burger" data-id="{{this.id}}" data-eaten="{{this.eaten}}">
		<span>{{this.name}}</span>
	</button>
</form>